<div ng-include="'tpl/include/header.html'">

</div>
<ion-content class="has-footer has-header">
    <div class="list list-inset">
        <div class="item" ng-click="show()">
            关于
        </div>
        <div class="item" ng-click="jump('start')">
            退出登录
        </div>
    </div>
</ion-content>

<!--&lt;!&ndash;创建一个ng的模板内容&ndash;&gt;-->
<!--<script type="text/ng-template" id="template.html">-->
    <!--<ion-modal-view>-->
        <!--<ion-content>-->
            <!--<h1>这是自定义弹窗中的内容</h1>-->
        <!--</ion-content>-->
    <!--</ion-modal-view>-->
<!--</script>-->


<!--<script>-->
    <!--var app = angular.module('myApp', ['ionic']);-->

    <!--app.controller('myCtrl', ['$scope', '$ionicModal',-->
        <!--function ($scope, $ionicModal) {-->
            <!--//先去完成ionicModal的实例化-->
            <!--$ionicModal-->
                    <!--.fromTemplateUrl('template.html', {})-->
                    <!--.then(function (modal) {-->
                        <!--$scope.customModal = modal;-->
                    <!--})-->

            <!--//定义打开或者关闭的方法-->
            <!--$scope.showCustomWindow = function () {-->
                <!--console.log($scope.customModal);-->
                <!--$scope.customModal.show();-->
            <!--}-->
        <!--}])-->

<!--</script>-->

<div ng-include="'tpl/include/footer.html'">

</div>